# fastapi
# uvicorn[standard]
# numpy
# soundfile
# psutil
# spleeter==2.3.2
# openai-whisper
fastapi
uvicorn[standard]
tensorflow==2.13.0
numpy
librosa<0.9.0
soundfile
python-multipart
psutil
spleeter==2.3.2
openai-whisper
scipy
